<!--=====================================
Section Gray
======================================-->

<div class="ps-section--gray">

    <div *ngIf="!preload" class="container">

        <!--=====================================
        Products of category
        ======================================-->

        <div *ngFor="let category of categories; let lastIndex = last; let i = index" class="ps-block--products-of-category">

            <!--=====================================
            Menu subcategory
            ======================================-->

            <div class="ps-block__categories">

                <h3>{{category.name}}</h3>

                <ul [attr.category-showcase]="category.name">

                    <!-- Aquí se muestra el bloque de sub-categoría filtrado y clasificado de acuerdo a la categoría correspondiente  -->

                </ul>

                <a class="ps-block__more-link" routerLink="products/{{category.url}}">View All</a>

            </div>

            <!--=====================================
            Vertical Slider Category
            ======================================-->

            <div class="ps-block__slider">

                <div [attr.category-sl]="category.url">

                    <!-- Aquí se muestra las imágenes en el slider  -->

                </div>

            </div>

            <!--=====================================
            Block Product Box
            ======================================-->

            <div class="ps-block__product-box" [attr.category-pb]="category.url">

                <!-- Aquí se muestra los 6 Productos -->

            </div>
            <!-- End Block Product Box -->

            {{ lastIndex ? callback(i) : "" }}

        </div>
        <!-- End Products of category -->

    </div>
    <!-- End Container-->

    <!--=====================================
    Preload
    ======================================-->

    <div *ngIf="preload" class="d-flex justify-content-center">

        <div class="spinner-border text-warning my-5"></div>

    </div>

</div>
<!-- End Section Gray-->